@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    color:#ff2c00;
    font-family: 'Oswald', sans-serif;
}